@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; 
}
::-webkit-scrollbar-track {
  background: #0B132B;
}
::-webkit-scrollbar-thumb {
background: #5BC0BE; 
}
::-webkit-scrollbar-thumb:hover {
  background: #6FFFE9;
}

.gear-reverse {
	animation: spin-reverse 20s linear infinite 1.45s;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
}

@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}


@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.gradient-animated {
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite;
}


.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite;
}
